.trainer_branches_list_container {
  padding-left: 16px;
}

.trainer_branches_list_title {
  padding-left: 0;
}

.trainer_branches_list {
  display: flex;
}

.trainer_branches {
  list-style-type: none;
  text-decoration: underline;
  padding: 4px;
}
