.trainer_branches_title {
  padding: 4px;
}

.trainer_branches_list {
  display: flex;
}

.trainer_branches {
  list-style-type: none;
  text-decoration: underline;
  padding: 4px;
}

.trainer_branches_list_bio {
  padding-left: 12px;
}
