.rating_container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.rating_container table {
  width: 100%;
  border-collapse: collapse;
}
.rating_grid_container {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.rating_grid[data-active="grid"] {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: #0070f3;
}
