.title_container {
  display: flex;
  align-items: center;
  gap: 20px;
  color: $primary;
  margin-bottom: 32px;
  white-space: nowrap;
  .free_line {
    border: 1px solid $primary;
    width: 100%;
  }
}
