services:
  strapidb-admin:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: strapi
      MYSQL_DATABASE: strapi
      MYSQL_USER: strapi
      MYSQL_PASSWORD: strapi
    ports:
      - 3306:3306

  php-my-admin:
    image: phpmyadmin
    restart: unless-stopped
    ports:
      - 8080:80
    environment:
      PMA_HOST: strapidb-admin
      PMA_PORT: 3306
    depends_on:
      - strapidb-admin
