@use "../../../styles/variables" as *;

.articles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
}

.article_photo {
  width: 100%;

  .photo {
    border-radius: 6px;
  }
}

.name_container {
  height: 68px;
}

.article_name {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: $black;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.published_data {
  font-weight: 400;
  font-size: 12px;
  color: $primary;
}

.btn_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.article_card {
  padding: 12px;
  display: flex;
  flex-direction: column;
  background: $gradient-light;
  border: 1px solid $lightblue;
  width: 340px;
  gap: 6px;
  border-radius: 6px;
  flex: 0 0 340px;
}

@media only screen and (max-width: 400px) {
  .article_card {
    width: auto;
    flex: 0 0 280;
  }
}
