#burger_menu {
  width: 256px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  background: var(--primary-color);
  transform: translateX(256px);
  transition: 0.5s;
  padding: 48px 24px;
}

#burger_menu > ul > li {
  padding: 8px;
  border-bottom: 1px solid var(--secondary-color);
}

#burger_menuAvPaa {
  display: none;
}

#burger_menuAvPaa:checked ~ #burger_menu {
  transform: translateX(0rem);
}

#burger {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  right: 5%;
  top: 16px;
  display: none;
}

#burger > div {
  height: 2px;
  background-color: var(--secondary-color);
  transition: 0.5s;
  z-index: 999;
}

#burger_menuAvPaa:checked ~ #burger > div {
  background-color: var(--secondary-color);
}

#burger_menuAvPaa:checked ~ #burger > div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}

#burger_menuAvPaa:checked ~ #burger > div:nth-child(2) {
  opacity: 0;
}

#burger_menuAvPaa:checked ~ #burger > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}

@media only screen and (max-width: 768px) {
  #burger {
    display: flex;
  }
}
