.navigation {
  width: 90%;
}

.nav > ul {
  display: flex;
  justify-content: space-evenly;
}

.nav_li {
  list-style-type: none;
}

.nav_li > a {
  color: var(--secondary-color);
}

@media only screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
