.main_container {
  display: flex;
  width: 100%;
  padding-top: 60px;
}

.left_menu_container {
  width: 15%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: calc(100vh - 60px);
}

.content_container {
  padding: 24px;
  width: 70%;
}

.links_container {
  width: 15%;
}

@media only screen and (max-width: 768px) {
  .main_container {
    display: flex;
    flex-direction: column;
  }

  .left_menu_container {
    display: none;
  }

  .content_container {
    width: 100%;
  }

  .links_container {
    width: 100%;
  }
}
