@use "../../../styles/variables" as *;

.article_container {
  padding: 42px 8%;
  display: flex;
  flex-direction: column;
}

.article_header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;

  .article_header_content {
    max-width: 500px;
  }

  .date_container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;

    .date {
      border-radius: 6px;
      padding: 12px;
      background: $gradient-light;
      border: 1px solid $lightblue;
      display: flex;
      align-items: center;
      justify-content: center;

      .date_info {
        font-weight: 400;
        font-size: 12px;
        color: $primary;
      }
    }
  }
  .article_image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
  }
}

.article_content {
  ol {
    padding-left: 8px;
    li {
      list-style-type: decimal;
    }
  }
  .article_title {
    padding: 26px 0;
    font-weight: 600;
    font-size: 24px;
    color: $primary;
    text-align: left;
  }
  .article_text {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: $black;
    line-height: 140%;
  }
  .article_text_container{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.article_footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10%;
}

@media only screen and (max-width: 600px) {
  .article_container {
    padding: 42px 2%;
  }
}