.left_menu_wrapper {
  position: fixed;
  background-color: var(--primary-color);
  height: 100vh;
  width: 15%;
}

.left_menu_wrapper a {
  text-decoration: none;
}

.left_menu_li {
  list-style-type: none;
  padding: 16px;
}
