.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 16px 0;
}

.contact span {
  padding: 0 4px;
}

.contact_trainers_link {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 8px;
  border-radius: 8px;
}

.contact_link {
  text-decoration: underline;
}
