@use "../../../styles/variables" as *;

.trainers_main {
  padding: 42px 8%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trainer_card {
  width: 100%;
  background-color: red;
}

.trainer_img {
  min-width: 150px;
  min-height: 150px;
  backdrop-filter: blur(40px);
  border: 1px solid $lightblue;
  border-radius: 6px;
}

.trainer_info {
  border-radius: 6px;
  padding: 8px 12px;
  border-width: 1px solid $lightblue;
  backdrop-filter: blur(40px);
  background: $gradient-light;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 150px;
}

.details_container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.trainer_name {
  text-align: left;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: $black;
}

.sub_text {
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: $black;
}

.branch_name {
  margin-right: 6px;
}

@media only screen and (max-width: 426px) {
  .trainer_card {
    align-items: center;
  }

  .trainer_info {
    padding-left: 8px;
    font-size: 14px;
  }

  .trainer_info a h2 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .trainers_main {
    padding: 42px 2%;
  }
}
