.article_header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}

.article_image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article_title {
  padding: 24px 0;
}

.fb_link_container {
  text-align: center;
}

.fb_link {
  padding: 16px;
  border-radius: 16px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
