.branches_list_container {
  padding: 8px 0;
}

.branches_trainer_list {
  display: flex;
  flex-wrap: wrap;
}

.branches_trainer {
  list-style-type: none;
  text-decoration: underline;
  padding: 4px;
}
