@use "../../../styles/variables" as *;

.contained_btn {
  background: $primary;
  color: $white;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid $primary;
  min-width: 130px;

  &:hover {
    background: $gradient-primary;
    color: $secondary;
    border: 1px solid $gradient-primary;
  }

  &:focus {
    background: $gradient-light;
    color: $primary;
    border: 1px solid $gradient-srtoke;
  }
  &__text {
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
  }
}

.text_btn {
  align-self: flex-end;
  background: none;
  border: none;
  color: $primary;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 16px;
  
  &:hover {
    color: $pink;
  }
}
