.calendar_main {
  padding: 42px 8%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.calendar_image {
  width: 100%;
  min-height: 350px;
  height: auto;
}

.calendar_description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  & > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
  }
}

@media only screen and (max-width: 600px) {
  .calendar_main {
    padding: 42px 2%;
  }

  .calendar_image {
    min-height: 200px;
  }
}
