.trainer_card {
  display: flex;
  padding: 8px;
}

.trainer_img {
  border-radius: 50%;
}

.trainer_info {
  padding-left: 24px;
}

.trainer_name {
  text-align: left;
}

.trainer_branches_title {
  padding: 4px;
}

.trainer_branches_list {
  display: flex;
}

.trainer_branches {
  list-style-type: none;
  text-decoration: underline;
  padding: 4px;
}

.trainer_branches_list_bio {
  padding-left: 12px;
}
