@use "../../../styles/variables" as *;

.contacts_page {
  padding: 42px 8%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contacts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.title {
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: $primary;
}

.trainers_button {
  span {
    white-space: nowrap;
  }
}
@media only screen and (max-width: 1000px) {
  .contacts {
    grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
  }
}

@media only screen and (max-width: 600px) {
  .contacts_page {
    padding: 42px 2%;
  }
}
