@use "../../../styles/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  width: 100%;
  height: 64px;
  padding: 8px 8%;
  background-color: $primary;
  color: $secondary;
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid $secondary; 
}
