.articles_container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.articles_list_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.article_img {
  border-radius: 50%;
}
