.articles_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.articles_list_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.article_card {
  display: block;
  padding: 8px;
  width: 50%;
}

.article_photo {
  width: 100%;
}

.article_img {
  border-radius: 50%;
}

.article_info {
  width: 100%;
}

.article_name {
  text-align: left;
  margin-top: 0;
  font-size: 20px;
}

@media only screen and (max-width: 426px) {
  .article_card {
    width: 100%;
  }
}
