.carouselContainer {
  width: 100%;
  min-height: 400px;
  ul {
    gap: 30px;
  }
}
.carouselItem {
  width: 340px !important;
}

@media only screen and (max-width: 400px) {
  .carouselContainer {
    ul {
      gap: 10px;
    }
  }
  .carouselItem {
    width: 300px !important;
  }
}
