* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h2,
h3,
h4 {
  margin-top: 16px;
}

p {
  padding: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

figure,
figcaption {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}
