@use "../../../../../styles/variables" as *;

.branchCard {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.title_container {
  display: flex;
  align-items: center;
  gap: 20px;
  color: $primary;
  margin-bottom: 32px;
}

.free_line {
  border: 1px solid $primary;
  width: 100%;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  height: 100%;
  position: relative;
}

.image {
  flex: 0 0 160px;

  img {
    width: 100%;
    border-radius: 8px;
  }
}

.text {
  height: 160px;
  background: $gradient-light;
  border-radius: 6px;
  border: 1px solid $lightblue;
  width: 100%;
  padding: 24px;
  display: flex;
  align-items: center;

  p {
    margin: 0;
    font-size: 18px;
    color: $primary;
  }
}

.btn_box {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}

@media only screen and (max-width: 480px) {
  .image{
    position: absolute;
    opacity: 0.1;
    left: 25%;
  }
}
